/* 定义全局样式 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1263px
}

.el-breadcrumb {
    margin-bottom: 15px;
}

.el-icon-search::before {
    color: #999
}

.el-cascader-menu__list {
    height: 300px!important
}

.el-steps {
    margin: 15px 0
}

.el-step__title {
    font-size: 13px;
}