@font-face {
  font-family: "iconfont"; /* Project id 3864917 */
  src: url('iconfont.woff2?t=1673837554672') format('woff2'),
       url('iconfont.woff?t=1673837554672') format('woff'),
       url('iconfont.ttf?t=1673837554672') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user1:before {
  content: "\e682";
}

.icon-password1:before {
  content: "\e683";
}

